<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student page</title>
</head>
<body>
<main>
   <h3>Student Confirmation</h3>
    <p th:text="'Student: ' + ${student.firstName} + ' ' + ${student.lastName} + ' from ' + ${student.country}"/>
    <p th:text="'Language: ' + ${student.favLang}" /><p>Favorite Systems:</p>
    <ul>
        <li th:each="tempSys : ${student.favSystems}" th:text="${tempSys}"></li>
    </ul>
</main>
</body>
</html>