<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student page</title>
</head>
<body>
<main>
    <h3>Complex Student Register Form</h3>
    <form th:action="@{/student/processStudentForm}" th:object="${student}" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter first name" required />
        <br/>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" placeholder="Enter last name" required />
        <br/>
        <label for="country">Country:</label>
        <select id="country" th:field="*{country}" required>
            <option th:each="tempCountry : ${listOfCountries}" th:value="${tempCountry}" th:text="${tempCountry}">Country</option>
        </select>
        <br>
        <span>Favorite Language:</span>
        <th:block th:each="tempLanguage : ${listOfLanguages}">
            <input type="radio" th:field="*{favLang}" th:id="${tempLanguage}" th:value="${tempLanguage}" required />
            <label th:for="${tempLanguage}" th:text="${tempLanguage}"></label>
        </th:block>S
        <br/>
        <span>Favorite Operating Systems:</span>
        <th:block th:each="tempSystem : ${listOfSystems}">
            <input type="checkbox" th:field="*{favSystems}" th:value="${tempSystem}" />
            <label th:text="${tempSystem}"></label>
        </th:block>
        <br/>
        <input type="submit" value="Submit" />
    </form>
</main>
</body>
</html>